In [1]:
import pandas as pd
import spacy

In [2]:
df = pd.read_csv("final_cbc_diagnoses_dataset_with_labels.csv")
df.head()

,subject_id,Hemoglobin,Eosinophils,Lymphocytes,Monocytes,Basophils,Eosinophils.1,Hematocrit,Hemoglobin.1,Lymphocytes.1,...,Eosinophils.3,Lymphocytes.4,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,short_title,long_title
0,10006,NaN,NaN,NaN,NaN,0.3,1.95,33.811111,11.133333,15.85,...,NaN,NaN,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1,Sepsis,Sepsis
1,10006,NaN,NaN,NaN,NaN,0.3,1.95,33.811111,11.133333,15.85,...,NaN,NaN,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1,React-oth vasc dev/graft,Infection and inflammatory reaction due to oth...
2,10006,NaN,NaN,NaN,NaN,0.3,1.95,33.811111,11.133333,15.85,...,NaN,NaN,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1,Hyp kid NOS w cr kid V,"Hypertensive chronic kidney disease, unspecifi..."
3,10006,NaN,NaN,NaN,NaN,0.3,1.95,33.811111,11.133333,15.85,...,NaN,NaN,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1,Atrial fibrillation,Atrial fibrillation
4,10006,NaN,NaN,NaN,NaN,0.3,1.95,33.811111,11.133333,15.85,...,NaN,NaN,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1,CHF NOS,"Congestive heart failure, unspecified"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1445 entries, 0 to 1444
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   subject_id         1445 non-null   int64
 1   Hemoglobin         688 non-null    float64
 2   Eosinophils        22 non-null     float64
 3   Lymphocytes        125 non-null    float64
 4   Monocytes          125 non-null    float64
 5   Basophils          1277 non-null   float64
 6   Eosinophils.1      1277 non-null   float64
 7   Hematocrit         1445 non-null   float64
 8   Hemoglobin.1       1445 non-null   float64
 9   Lymphocytes.1      1277 non-null   float64
 10  MCH                1445 non-null   float64
 11  MCHC               1445 non-null   float64
 12  MCV                1445 non-null   float64
 13  Monocytes.1        1277 non-null   float64
 14  Neutrophils        1277 non-null   float64
 15  RDW                1445 non-null   float64
 16  Red Blood Cells    1445 non-null   float64
 17  White Blood Cells  1445 non-null   float64
 18  Monocytes.2        102 non-null    float64
 19  Lymphocytes.2      8 non-null      float64
 20  Monocytes.3        8 non-null      float64
 21  Eosinophils.2      38 non-null     float64
 22  Lymphocytes.3      73 non-null     float64
 23  Eosinophils.3      17 non-null     float64
 24  Lymphocytes.4      65 non-null     float64
 25  gender             1445 non-null   object
 26  dob                1445 non-null   object
 27  dod                1445 non-null   object
 28  dod_hosp           985 non-null    object
 29  dod_ssn            1136 non-null   object
 30  expire_flag        1445 non-null   int64
 31  short_title        1445 non-null   object
 32  long_title         1445 non-null   object
dtypes: float64(24), int64(2), object(7)
memory usage: 372.7+ KB

In [4]:
df.isnull().sum()

subject_id              0
Hemoglobin            757
Eosinophils          1423
Lymphocytes          1320
Monocytes            1320
Basophils             168
Eosinophils.1         168
Hematocrit              0
Hemoglobin.1            0
Lymphocytes.1         168
MCH                     0
MCHC                    0
MCV                     0
Monocytes.1           168
Neutrophils           168
RDW                     0
Red Blood Cells         0
White Blood Cells       0
Monocytes.2          1343
Lymphocytes.2        1437
Monocytes.3          1437
Eosinophils.2        1407
Lymphocytes.3        1372
Eosinophils.3        1428
Lymphocytes.4        1380
gender                  0
dob                     0
dod                     0
dod_hosp              460
dod_ssn               309
expire_flag             0
short_title             0
long_title              0
dtype: int64

In [6]:
nlp = spacy.load("en_core_web_sm")

In [7]:
def extract_entities(text):
    doc = nlp(text)
    entities = [(ent.text, ent.label_) for ent in doc.ents]
    return entities

In [8]:
df['short_title_entities'] = df['short_title'].apply(lambda x: extract_entities(str(x)))
df['long_title_entities'] = df['long_title'].apply(lambda x: extract_entities(str(x)))

In [9]:
df[['short_title', 'short_title_entities', 'long_title', 'long_title_entities']]

,short_title,short_title_entities,long_title,long_title_entities
0,Sepsis,[],Sepsis,[]
1,React-oth vasc dev/graft,[],Infection and inflammatory reaction due to oth...,[]
2,Hyp kid NOS w cr kid V,[],"Hypertensive chronic kidney disease, unspecifi...",[]
3,Atrial fibrillation,[],Atrial fibrillation,[]
4,CHF NOS,"[(CHF, ORG)]","Congestive heart failure, unspecified",[]
...,...,...,...,...
1440,Second malig neo liver,"[(Second, ORDINAL)]","Malignant neoplasm of liver, secondary",[]
1441,E coli septicemia,[],Septicemia due to escherichia coli [E. coli],"[(Septicemia, ORG)]"
1442,Mal neo extrahepat ducts,"[(Mal, PERSON)]",Malignant neoplasm of extrahepatic bile ducts,[]
1443,Sec malig neo lg bowel,"[(Sec, ORG)]",Secondary malignant neoplasm of large intestin...,[]
1444,Phlbts sprfc vn up extrm,[],Phlebitis and thrombophlebitis of superficial ...,"[(Phlebitis, LOC)]"